@media (max-width: 349px) {
  header img {
    width: 90% !important;
  }
  a#menu {
    position: static;
    display: block;
  }
}

@media (max-width: 599px) {
  #menu {
    position: absolute;
  }

  header img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  hgroup {
    text-align: center;
  }

  hgroup h1 {
    display: inline-block;
    padding: .2em;
  }

  hgroup h2 {
    display: inline-block;
    padding: 2px;
  }
}

@media (min-width: 600px) {
  hgroup {
    display: inline-block;
  }

  .side {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      transition: transform 0.3s ease;
  }

  main {
      width: calc(100% - 300px);
      -webkit-transform: translate(300px, 0);
      transform: translate(300px, 0);
      transition: transform 0.3s ease, width 0.4s ease;
  }

  main.close {
      width: 100%;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      transition: transform 0.3s ease, width 0.2s ease;

  }

  .side.close {
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
  }
}

@media (min-width: 800px) {
  #menu svg{ display: none;
  }
  body {

  }

  main,
  main.close {
    position: static;
    width: calc(100% - 300px);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
  }

  header{

  }
.container{
  display: flex;
  flex-wrap: wrap;
}

  .side,
  .side.open,
  .side.close {
    position: static;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
    height: auto;
  }
}
