@media (max-width: 599px) {
  .side {
      -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0);
      transition: transform 0.3s ease;
  }

  .side.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  main{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
  }
  main.open{
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
    transition: transform 0.3s ease;
  }
}

@media (min-width: 600px) {
  .side {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      transition: transform 0.3s ease;
  }

  .side.close {
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
  }

  /*body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  }*/

  main{
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
    transition: transform 0.3s ease;
  }
  main.close{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
  }
}

@media (min-width: 800px) {

  #menu svg{ display: none;
  }
  main,
  main.open,
  main.close {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
    transition: transform 0.3s ease;
  }
  .side,
  .side.close,
  .side.close {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
  }
}
