html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main {
    background-color: #a2a362;
    width: 100%;
    height: 100%;
}

a#menu svg {
  width: 40px;
  fill: #000;
}
a#menu2 svg {
  width: 40px;
  fill: #000;
}
